.header {
  background-color: #0984e3;
  padding: 8px 0;
  position: sticky;
  top: 0;
  z-index: 2;
}

.header ul  {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header ul li {
  list-style: none;
}

.header ul li a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}