.content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  margin-top: 50px;
}

.left, .right {
  display: flex;
  flex-direction: column;
}

.left {
  align-items: center;
}


.right {
  background-color: #dfe6e9;
  padding: 15px;
}

.questions{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.questions li {
  border: 2px solid #a29bfe;
  padding: 5px 8px;
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}